@import '../../../styles.sass'

.container
  .main
    width: 100%
    height: 92%
    display: flex
    justify-content: center
    align-items: start

    .panel
      position: relative
      width: 50%
      background-color: white
      border-radius: 10px
      padding: 20px
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)

      .back-button
        position: absolute
        top: 20px
        left: 50px
        text-decoration: none
        font-size: 40px
        color: black
        background-color: lightgray
        border-radius: 30px
        padding: 2px 8px

      .title
        text-align: center
        font-size: 28px
        font-weight: bold
        margin: 20px 0px

      .input
        margin-bottom: 20px

        .text-input
          width: 100%
          padding: 10px
          border: 1px solid #ccc
          border-radius: 20px
          font-family: inter

      .articles-list
        .article
          display: flex
          flex-direction: column
          margin-bottom: 15px
          padding: 15px
          background-color: #003366
          color: white
          border-radius: 5px
          transition: transform 0.2s, box-shadow 0.2s

          &:hover
            transform: translateY(-5px)
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1)

          .article-title
            font-weight: bold
            margin-bottom: 5px

          .article-title a, .article-content a
            color: white
            text-decoration: none

          .article-content a.read-more
            text-decoration: underline

          .article-title a:hover, .article-content a:hover
            text-decoration: underline

      .no-articles
        text-align: center
        font-size: 18px
        color: #333

      .highlight
        background-color: yellow
        color: black

@media only screen and (max-width: 768px)
  .container
    .main
      .panel
        width: 90%

        .back-button
          top: 5px
          left: 10px
          font-size: 25px

        .title
          font-size: 22px

  .article
    padding: 10px
    margin-bottom: 10px
