<div class="container">
  <app-navbar></app-navbar> <!-- Navbar component -->

  <div class="main">
    <div class="panel">
      <h1 class="title">Educational Articles!</h1>

      <!-- Search input field -->
      <div class="input">
        <input
          type="text"
          id="search"
          name="search"
          class="text-input"
          [(ngModel)]="searchQuery"
          (input)="filterArticles()"
          placeholder="Type to filter articles by title..."
          required
        />
      </div>

      <!-- Articles list section -->
      <div class="articles-list">
        <div class="article" *ngFor="let article of filteredArticles">
          <div class="article-title">
            <a [href]="article.url" target="_blank">{{ article.title }}</a>
          </div>
          <div class="article-content">
            {{ article.description }}
            <a [href]="article.url" target="_blank" class="read-more">Learn More</a>
          </div>
        </div>
        <div *ngIf="filteredArticles.length === 0">No articles found.</div>
      </div>
    </div>
  </div>
</div>
