<div class="navbar">
    <!-- Home Icon -->
    <a class="icon" href="/">
        <img src="/assets/home-icon-2.png" alt="Home Page">
    </a>

    <!-- Quick Links -->
     @if (this.currentPage != "/") {
        <div class="links">
            <a href="/soundboard">{{ this.userLanguage.navbar.soundboard }}</a>
            <a href="/games">{{ this.userLanguage.navbar.games }}</a>
            <a href="/stories">{{ this.userLanguage.navbar.stories }}</a>
            <a href="/progress">{{ this.userLanguage.navbar.progress }}</a>
         </div>
     }

    <!-- Preferences Icon -->
     <div class="icon">
        <app-preferences></app-preferences>
     </div>
</div>