<div class="container">
    <div class="panel">
        <a href="/" class="button">←</a>
        <div class="control button">
            @if (!isReading) {
                <img src="../../../../assets/start-icon.png" alt="Start Reading" (click)="this.speak()">
            } @else {
                <img src="../../../../assets/stop-icon.png" alt="Stop Reading" (click)="this.stop()">
            }
        </div>
        @if (isEnglish()) {
            <h1 class="title">{{ this.title_english }}</h1>
            <p>{{ this.text_english }}</p>
        } @else {
            <h1 class="title">{{ this.title_spanish }}</h1>
            <p>{{ this.text_spanish }}</p>
        }
    </div>
</div>