<div class="container">
    <div class="panel">
        <a href="/stories" class="button">←</a>
        <div class="control button">
            <div (click)="this.speak()">⊙</div>
            <div (click)="this.stop()">⊘</div>
        </div>
        @if (isEnglish()) {
            <h1 class="title">{{ this.title_english }}</h1>
            <p>{{ this.text_english }}</p>
        } @else {
            <h1 class="title">{{ this.title_spanish }}</h1>
            <p>{{ this.text_spanish }}</p>
        }
    </div>
</div>