/* Profile button styles */
.profile-btn
  position: absolute
  top: 10px
  right: 10px
  border: none
  background: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  z-index: 1

  &.hidden
    display: none  // Hide the button when sidebar is open

/* Profile icon styles */
.profile-icon
  width: 45px
  height: 45px

/* Sidebar styles */
.sidebar
  position: fixed
  top: 0
  right: -300px
  width: 300px
  height: 100%
  background-color: #d3d3d3
  transition: right 0.3s ease
  z-index: 2
  font-family: Arial, Helvetica, sans-serif

  &.open
    right: 0  // Slide sidebar into view when open


  .sidebar-header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    background-color: #333
    color: white

    .user-info
      display: flex
      align-items: center

      p
        margin: 0
        padding: 0 10px

      .profile-icon
        width: 30px
        height: 30px

  .close-btn
    background: none
    border: none
    color: white
    font-size: 24px
    cursor: pointer

  .sidebar-content
    padding: 20px

    .sidebar-btn
      display: block
      width: 100%
      background: none
      border: none
      text-align: left
      padding: 10px 0
      font-size: 16px
      cursor: pointer
      color: black

    .arrow
      float: right
      transition: transform 0.3s ease

      &.open
        transform: rotate(180deg)

    .dropdown-content
      margin-left: 20px
      padding-top: 10px

      .dropdown-item
        display: block
        background: none
        border: none
        text-align: left
        padding: 5px 0
        cursor: pointer
        color: black

.signout-btn
    align-self: center
    margin-top: 20px
    padding: 10px 20px
    font-size: 16px
    font-weight: bold
    color: white
    background-color: #d9534f
    border: none
    border-radius: 5px
    cursor: pointer