<div class="container">
    <app-navbar></app-navbar>
    <div class="main">
        <div class="panel">
            <a href="/" class="back-button">←</a>
            @if (isAdmin) {
                <a href="/stories/add" id="add-button">+</a>
            }
            <h1 class="title">
                {{ userLanguage.storyCenter.title }}
            </h1>
            @for (story of stories; track story) {
                <a href="stories/{{ this.encodeTitle(story.title_english) }}" class="story-selector">
                    @if (isEnglish()) {
                        <h2 class="story-title">{{ story.title_english }}</h2>
                        <h3 class="story-sound">{{ story.sound }}</h3>
                        <h3 class="story-summary">{{ story.summary_english }}</h3>
                    } @else {
                        <h2 class="story-title">{{ story.title_spanish }}</h2>
                        <h3 class="story-sound">{{ story.sound }}</h3>
                        <h3 class="story-summary">{{ story.summary_spanish }}</h3>
                    }

                </a>
            }
        </div>
    </div>
</div>