<div class="container">
    <app-navbar></app-navbar>
    <div class="main">
        <div class="panel">
            <a href="/stories/add" id="add-button">+</a>
            <h1 class="title">
                Welcome to the Story Center!
            </h1>
            <a href="" class="story-selector">
                <h2 class="story-title">[Story Title]</h2>
                <h3 class="story-sound">[Sound]</h3>
                <h3 class="story-summary">[Summary]</h3>
            </a>
            <a href="" class="story-selector">
                <h2 class="story-title">[Story Title]</h2>
                <h3 class="story-sound">[Sound]</h3>
                <h3 class="story-summary">[Summary]</h3>
            </a>
            <a href="" class="story-selector">
                <h2 class="story-title">[Story Title]</h2>
                <h3 class="story-sound">[Sound]</h3>
                <h3 class="story-summary">[Summary]</h3>
            </a>
            <a href="" class="story-selector">
                <h2 class="story-title">[Story Title]</h2>
                <h3 class="story-sound">[Sound]</h3>
                <h3 class="story-summary">[Summary]</h3>
            </a>
        </div>
    </div>
</div>