<div class="container">
    <app-navbar></app-navbar>
    <div class="main">
        <div class="panel">
            <h1>{{ language.soundboard.title }}</h1>

            <div class="sound-categories">
                <div *ngFor="let category of objectKeys(categories)" class="category">
                    <h2>{{ category }}</h2>
                    <button *ngFor="let sound of categories[category]" class="sound-button" (click)="openPopup(sound)">
                      {{ sound }}
                    </button>
                  </div>
                </div>
            </div>
            
            <!-- Popup menu -->
        <div class="menu" *ngIf="isPopupOpen" (click)="handleOutsideClick($event)">
            <div class="menu-content">
                <!-- Header container has the sound, pronunciation button, and navigation buttons -->
                <div class="header-container">
                    <button *ngIf="showExamples || showPairs" class="back-btn" (click)="togglePairs(false)" (click)="toggleExamples(false)">←</button>
                    <div class="sound-center">
                        <h2>{{ currentSound }}</h2>
                        <button class="pronunciation-btn" (click)="playSound(currentSound)">
                            <img src="assets/playSound.svg" alt="Pronounce Sound" class="icon" />
                        </button>
                    </div>
                    <button class="close-btn" (click)="closePopup()">×</button>
                </div>
                
                <!-- Content -->
                <div *ngIf="!showExamples && !showPairs" class="menu-options">
                    <button class="menu-item" (click)="toggleExamples(true)">{{ language.soundboard.example }}</button>
                    <button class="menu-item" (click)="togglePairs(true)">{{ language.soundboard.minimalPair }}</button>
                </div>

                <div *ngIf="showExamples" class="content">
                    <h3>{{ language.soundboard.exampleHeader }} {{ currentSound }}</h3>
                    <ul>
                        <li *ngFor="let example of getExamplesForCurrentSound()" class="example-item">
                            {{ example }}
                            <button class="pronunciation-btn" (click)="playExample(example)">
                                <img src="assets/playSound.svg" alt="Pronounce Example" class="icon" />
                            </button>
                        </li>
                    </ul>
                </div>

                <div *ngIf="showPairs" class="content">
                    <h3>{{ language.soundboard.pairHeader }} {{ currentSound }}</h3>
                    <ul>
                        <li *ngFor="let pair of getPairsForCurrentSound()" class="pair-item">
                            {{ pair }}
                            <button class="pronunciation-btn" (click)="playPair(pair)">
                                <img src="assets/playSound.svg" alt="Pronounce Pair" class="icon" />
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>