/* You can add global styles to this file, and also import other style files */

/* Colors */
$blue: #24457B
$dark-gray: #3C3C3B
$glass-white: rgba(255, 255, 255, 0.688)

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Inter')

/* Images */
$game_1_icon: url('assets/games/game_1.png')
$game_2_icon: url('assets/games/game_2.png')
$game_3_icon: url('assets/games/game_3.png')
$game_4_icon: url('assets/games/game_4.png')
$game_5_icon: url('assets/games/game_5.png')
$game_6_icon: url('assets/games/game_6.png')
$game_7_icon: url('assets/games/game_7.png')
$game_8_icon: url('assets/games/game_8.png')

/* Classes */
.container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $dark-gray
    display: flex
    flex-direction: column

    .panel
        min-width: 300px
        min-height: 200px
        border-radius: 10px
        background-color: white
        display: flex
        flex-direction: column
        justify-content: start
        align-items: center
        width: 95%

        .alert
            color: red
            text-align: center
            padding: 10px

        form
            display: flex
            flex-direction: column
            gap: 15px
            place-items: center
            font-family: inter

            .input
                display: flex
                flex-direction: column

                label
                    margin-left: 10px
                    font-size: 12px
                    font-weight: bold

                .text-input
                    width: 225px
                    border: solid, 2px, $dark-gray
                    border-radius: 10px
                    padding: 4px 12px
                    background-color: LightGray
                    font-family: inter

            .button
                margin-top: 10px
                border: solid, 2px, $dark-gray
                border-radius: 10px
                padding: 4px 36px
                color: white
                font-family: inter
                background-color: $blue
                cursor: pointer

.title
    font-family: Inter
