<div class="topPage">
    <button id="home-btn">🏠</button>
    <button id="profile-btn">👤</button>
</div>
<div class="container">
    <h1 id="heading">Dashboard</h1>
  <div class="grid">
    <div class="grid-item">
      <div class="icon soundboard"></div>
      <p>Soundboard</p>
    </div>
    <div class="grid-item">
      <div class="icon games"></div>
      <p>Games</p>
    </div>
    <div class="grid-item">
      <div class="icon progress-sharing"></div>
      <p>Progress Sharing</p>
    </div>
    <div class="grid-item">
      <div class="icon videos"></div>
      <p>Videos</p>
    </div>
    <div class="grid-item">
      <div class="icon stories"></div>
      <p>Stories</p>
    </div>
    <div class="grid-item">
      <div class="icon parent-resources"></div>
      <p>Parent/Guardian Resources</p>
    </div>
  </div>
</div>
