<div class="container">
    <div class="panel">
        <h1 class="title">Reset Password</h1>
        <form (submit)="onSubmit()">
            <div class="input">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="text-input" [(ngModel)]="formData.email" required>
            </div>
            <input type="submit" value="Send Recovery Email" class="button" >
            <h5 (click)="this.router.navigateByUrl('/login')">Cancel</h5>
        </form>
    </div>
</div>