<div class="container">
    <app-navbar></app-navbar>
    <div class="main">
        <div class="panel">
            <h1 class="title">
                Welcome to the Game Center!
            </h1>
            <div class="button-space">
                <div class="row">
                    <a href="/matching" class="game-button game_1">
                        <div class="game-info">
                            <h2 class="game-title">Game 1</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_2">
                        <div class="game-info">
                            <h2 class="game-title">Game 2</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_3">
                        <div class="game-info">
                            <h2 class="game-title">Game 3</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_4">
                        <div class="game-info">
                            <h2 class="game-title">Game 4</h2>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="" class="game-button game_5">
                        <div class="game-info">
                            <h2 class="game-title">Game 5</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_6">
                        <div class="game-info">
                            <h2 class="game-title">Game 6</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_7">
                        <div class="game-info">
                            <h2 class="game-title">Game 7</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_8">
                        <div class="game-info">
                            <h2 class="game-title">Game 8</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>