<div class="container">
    <app-navbar></app-navbar>
    <div class="main">
        <div class="panel">
            <a href="/" class="back-button">←</a>
            <h1 class="title">
                {{ this.userLanguage.games.title }}
            </h1>
            <div class="button-space">
                <div class="row">
                    <a href="/matching" class="game-button">
                        <div class="game-image game_1"></div>
                        <div class="game-info">
                            <h2 class="game-title">Memory Match</h2>
                            <p class="game-desc">Match sounds and images in this memory game</p>
                            <div class="play-now">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 5V19L19 12L8 5Z" fill="currentColor"/>
                                </svg>
                                Play Now
                            </div>
                        </div>
                    </a>
                    <a href="/earth-defender" class="game-button">
                        <div class="game-image game_2"></div>
                        <div class="game-info">
                            <h2 class="game-title">Earth Defender</h2>
                            <p class="game-desc">Defend the planet by matching correct sounds</p>
                            <div class="play-now">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 5V19L19 12L8 5Z" fill="currentColor"/>
                                </svg>
                                Play Now
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="/tune-your-ears" class="game-button">
                        <div class="game-image game_3"></div>
                        <div class="game-info">
                            <h2 class="game-title">Tune Your Ears</h2>
                            <p class="game-desc">Listen carefully and identify the sounds</p>
                            <div class="play-now">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 5V19L19 12L8 5Z" fill="currentColor"/>
                                </svg>
                                Play Now
                            </div>
                        </div>
                    </a>
                    <a href="/bingo" class="game-button">
                        <div class="game-image game_4"></div>
                        <div class="game-info">
                            <h2 class="game-title">Bingo</h2>
                            <p class="game-desc">Play bingo with sounds and words</p>
                            <div class="play-now">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 5V19L19 12L8 5Z" fill="currentColor"/>
                                </svg>
                                Play Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>