<div class="container">
    <app-navbar></app-navbar>
    <div class="main">
        <div class="panel">
            <a href="/" class="back-button">←</a>
            <h1 class="title">
                {{ this.userLanguage.games.title }}
            </h1>
            <div class="button-space">
                <div class="row">
                    <a href="/matching" class="game-button game_1">
                        <div class="game-info">
                            <h2 class="game-title">Memory Match</h2>
                        </div>
                    </a>
                    <a href="/earth-defender" class="game-button game_2">
                        <div class="game-info">
                            <h2 class="game-title">Earth Defender</h2>
                        </div>
                    </a>
                    <a href="" class="game-button game_3">
                        <div class="game-info">
                            <h2 class="game-title">Game 3</h2>
                        </div>
                    </a>
                    <a href="/bingo" class="game-button game_4">
                        <div class="game-info">
                            <h2 class="game-title">Bingo</h2>
                        </div>
                    </a>
                </div>
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</div>